@page
@model LockoutModel
@{
    ViewData["Title"] = "ロックアウト";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">このアカウントはロックアウトされました。しばらく時間を置いてから再度ログインしてください</p>
</header>
