<h1>LINEメッセージ送信登録が完了しました</h1>
<p>メッセージ受信はアカウントのお友達登録が必要です</p>
<p>未登録の方はスマートフォンで<a href="http://nav.cx/94E3zt9">こちら</a>(http://nav.cx/94E3zt9)にアクセスしてください</p>
<img src="https://qr-official.line.me/sid/M/oeq2056v.png">

