@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>アクセス権がありません</title>
</head>
<body>
    <h1>このページのアクセス権がありません</h1>
    <p>アクセストークンの期限切れの可能性があります</p>
    <p>一度<a href="/authentication/login">ログアウト</a>してから再度<a href="/authentication/login">ログイン</a>しなおして下さい</p>
</body>
</html>
