table{
  width: 80%;
  border-spacing: 0;
}

table th{
  border-bottom: solid 2px #1900ff;
  text-align: left;
  padding: 10px 0;
}

table td{
  border-bottom: solid 2px #ddd;
  text-align: left;
  padding: 10px 0;
}

button{
  min-width: 120px;
}
